

*
{
    text-align: center;
    font-weight: bold;
}

h1
{
    text-align: center;
    margin-left: 55px;
    border-style:groove;
    border-width: 3px;
    border-color: black;
    background-color: orangered;
    color: white;
}

p
{
    margin-left: 135px;
    margin-right: 135px;
    border-style: groove;
    border-color: black;
    background-color: orangered;
    color: white;
}